.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;

  .logo {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    h1 {
      margin: 2rem;
    }
  }

  ul {
    @include flex(space-around, center, row);
    list-style: none;
    flex: 1 1 40rem;
  }
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(space-around, center, row);

  h2 {
    font-size: 8rem;
    padding: 2rem;
    background: $gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }
  h3 {
    font-size: 6rem;
    padding: 2rem 0rem;
  }
  h2 {
    padding: 2rem;
    color: $gray-text;
  }
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
  }
}

.active {
  background: $gray-text;
  padding: 1rem 3rem;
  color: white;
  border-radius: 2rem;
}

.intro-text {
  flex: 1 1 40rem;
}
