* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ruhl";
  src: url(/fonts/FrankRuhlLibre-Regular.ttf);
}
@font-face {
  font-family: "Ruhl Medium";
  src: url(/fonts/FrankRuhlLibre-Medium.ttf);
}
@font-face {
  font-family: "Vibes";
  src: url(/fonts/GreatVibes-Regular.ttf);
}
@font-face {
  font-family: "Great";
  src: url(/fonts/FrederickatheGreat-Regular.ttf);
}
html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw); /* Variables in css 20 px and 10px width*/
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(2.4rem + 1vw);
  --special-color: #906272;
  --background-color: #414141;
  --gray-text: #525252;
  scroll-behavior;
}

h1 {
  font-size: var(--header1); /* How to declare a variable*/
}
li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4,
h5 {
  font-size: var(--header4);
}

a {
  text-decoration: none;
  color: var(--gray-text);
}

ul {
  list-style: none;
}

.flex {
  /*  Helper function used to flexbox and center stuff*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Ruhl", sans-serif;
}

h1 {
  font-family: "Vibes", sans-serif;
}
/* Nav section*/

.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;
}

#logo {
  flex: 1 1 20rem;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}

.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.hero-introduction {
  flex: 2 1 40rem;
  text-align: center;
}

.hero-introduction p {
  padding: 5rem 10rem;
  color: var(--gray-text);
}
.hero-introduction h2 {
  padding-top: 3rem;
}
.hero-introduction a {
  padding: 2rem 8rem;
  border: 3px solid black;
}
.hero-image,
.bottom {
  flex: 1 1 40rem;
  background: linear-gradient(#dad8dd, #dad1d4);
}

.burger,
.menu-check {
  display: none;
  display: block;
}

.hero-flower {
  height: 100%;
  width: 95%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*About section*/

.about {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.about-text {
  background: var(--background-color);
  color: white;
  flex: 2 1 40rem;
  justify-content: space-around;
}

.about-text div {
  padding: 1rem 9rem;
}

.about-image {
  flex: 1 1 40rem;
  position: relative;
}
.about-text h2 {
  font-family: "Vibes";
  padding: 4rem;
}
.about-text h3 {
  font-family: "Ruhl Medium";
  padding: 4rem;
}

.about-image h5 {
  position: absolute;
  top: 30%; /* top 30  left 60*/
  left: 60%;
  color: white;
  font-family: "Great", sans-serif;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Gallery section     Grid and row is where its positioned*/

.gallery {
  display: grid;
  min-height: 90vh;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

/* keep aspect ratio of images*/
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* the grid and column is for the text caption alignmet*/
.gallery-head {
  /* Singapore image*/
  position: absolute;
  grid-column: 2/3;
  grid-row: 2;
  top: 70%;
  left: 8%;
  bottom: 31.5%;
  transform: translate(-100%, -100%);
  color: white;
  font-family: "Great", sans-serif;
  font-size: x-large;
}

.gallery2-head {
  /*Korean garden*/
  position: absolute;
  grid-column: 3;
  grid-row: 2;
  top: 62%;
  left: 63%;
  transform: translate(-50%, 100%);
  color: white;
  font-family: "Great", sans-serif;
}
.gallery3-head {
  /* Japan fortress*/

  position: absolute;
  grid-column: 2;
  grid-row: 1;
  top: 23%;
  right: 3%;
  transform: translate(-30%, 100%);
  color: white;
  font-family: "Great", sans-serif;
  background: black;
}
.gallery4-head {
  /*Japanese river*/
  position: absolute;
  grid-column: 1;
  grid-row: 1;
  top: 31%;
  left: 34%;
  transform: translate(-100%, 100%);
  color: white;
  font-family: "Great", sans-serif;
}
.gallery5-head {
  /* Japan alleyway*/
  position: absolute;
  grid-column: 2;
  grid-row: 1;
  top: 24%;
  left: 37%;
  transform: translate(-100%, 100%);
  color: white;
  font-family: "Great", sans-serif;
}

/* change where the image is placed*/

.gallery-head {
  grid-column: 2;
  grid-row: 2;
}
.gallery {
  grid-column: 2;
  grid-row: 2;
}
.gallery1 {
  grid-column: 1/3;
  grid-row: 2;
}

.gallery2 {
  grid-column: 3/3;
  grid-row: 2;
}

.gallery4 {
  grid-column: 1/2;
  grid-row: 1;
}
.gallery5 {
  grid-row: 1;
  grid-column: 2;
}

/*Css grid implementation*/
/*
.contact {
  display: grid;
  min-height: 70vh;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.contact img {
  height: 120%;
  width: 130%;
  object-fit: cover;
}

.form-wrapper {
  grid-row: 1;
  grid-column: 1;
}

.contact img {
  grid-column: 3;
  grid-row: 1;
  position: relative;
  object-fit: fill;
}
*/
/* keep aspect ratio of images*/

/*Contact section*/
.contact {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.contact img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  flex: 5 3 60rem;
}

.form-wrapper {
  flex: 3 1 40rem;
  font-size: var(--big);
}

.form-wrapper h2 {
  margin-bottom: 3rem;
}
.form-wrapper span {
  font-size: var(--big);
  color: var(--special-color);
}
.form-wrapper label {
  display: block;
}

.form-wrapper input {
  display: block;
  margin: 3rem 0rem;
  background: lightgrey;
  color: white;
  border: none;
  padding: 1rem;
}

.form-wrapper button {
  padding: 1rem 8rem;
  background: var(--special-color);
  color: white;
  border: none;
  width: 100%;
}

/* Footer*/

footer {
  background: var(--background-color);
  display: flex;
  color: white;
  align-items: center;
  flex-wrap: wrap;
}
footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 40rem;
}
footer h4 {
  flex: 3 1 40rem;
  font-size: calc(1.4rem + 1.4vw);
}

@media screen and (max-width: 842px) {
  .hero {
    width: 100%;
  }

  .hero-introduction p {
    padding: 5rem 3rem;
  }

  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: var(--gray-text);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    font-size: var(--header3);
    text-decoration: underline;
  }

  .nav-links {
    background: var(--background-color);
    position: fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }

  .nav-open {
    transform: translateX(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }

  .about-text div {
    padding: 3rem 3rem;
  }
  /* Gallery*/
  .gallery img {
    grid-row: auto;
    grid-column: auto;
  }

  .gallery {
    /* can just use this for simple grid*/
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  .gallery-head,
  .gallery2-head,
  .gallery3-head,
  .gallery4-head,
  .gallery5-head {
    display: none;
  }
  .contact img {
    display: none;
  }
  footer ul {
    order: 1;
  }
  footer h4 {
    order: 2;
    text-align: center;
    padding: 1rem;
  }
  .nav-open {
    transform: translateX(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }
}

@media screen and (min-width: 1700px) {
  html {
    --header1: 3rem;
    --header2: 5rem;
    --header3: 3.5rem;
    --header4: 2.5rem;
    --big: 6rem;
  }
}
